pkgbase = harlequin
	pkgdesc = The SQL IDE for Your Terminal
	pkgver = 2.1.1
	pkgrel = 1
	url = https://harlequin.sh/
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-wheel
	depends = python
	depends = python-textual
	depends = python-textual-fastdatatable
	depends = python-textual-textarea
	depends = python-click
	depends = python-rich-click
	depends = python-duckdb
	depends = python-shandy-sqlfmt
	depends = python-platformdirs
	depends = python-pyperclip
	depends = python-importlib-metadata
	depends = python-tomli
	depends = python-tomlkit
	depends = python-questionary
	depends = python-black
	depends = python-ruff
	depends = mypy
	options = !strip
	source = https://files.pythonhosted.org/packages/source/h/harlequin/harlequin-2.1.1.tar.gz
	b2sums = 3f4184ffc16cc4bc412694c319619e775a03f399cefe3695538851101f9cd90230d72e51470a48d90ede511445f3238f1bc1e94825957d1e9035cb0d699cd88d

pkgname = harlequin
