pkgbase = harlequin
	pkgdesc = The SQL IDE for Your Terminal
	pkgver = 2.2.1
	pkgrel = 1
	url = https://harlequin.sh/
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-wheel
	depends = python
	depends = python-textual
	depends = python-textual-fastdatatable
	depends = python-textual-textarea
	depends = python-click
	depends = python-rich-click
	depends = python-duckdb
	depends = python-shandy-sqlfmt
	depends = python-platformdirs
	depends = python-pyperclip
	depends = python-importlib-metadata
	depends = python-tomli
	depends = python-tomlkit
	depends = python-questionary
	depends = python-black
	depends = python-ruff
	depends = mypy
	options = !strip
	source = https://files.pythonhosted.org/packages/source/h/harlequin/harlequin-2.2.1.tar.gz
	b2sums = beaf7b1943e5dee6fd42dfadc83d493d2ce6e5a3738429f51fc6db5f36e6b4c24435501b7a2a442706fac7bbb2cb19b73da1dc51b2c759b32c4af748b11bacd9

pkgname = harlequin
