pkgbase = harlequin
	pkgdesc = The SQL IDE for Your Terminal
	pkgver = 2.4.0
	pkgrel = 1
	url = https://harlequin.sh/
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-wheel
	depends = python
	depends = python-textual
	depends = python-textual-fastdatatable
	depends = python-textual-textarea
	depends = python-click
	depends = python-rich-click
	depends = python-duckdb
	depends = python-shandy-sqlfmt
	depends = python-platformdirs
	depends = python-pyperclip
	depends = python-importlib-metadata
	depends = python-tomli
	depends = python-tomlkit
	depends = python-questionary
	depends = python-black
	depends = python-ruff
	depends = mypy
	options = !strip
	source = https://files.pythonhosted.org/packages/source/h/harlequin/harlequin-2.4.0.tar.gz
	b2sums = 497aa14788c0d4158ac35ba6ff2922550cbd7500f226a364a48f6b112fab59c566836e08ae1941c27c3314502692ee3ebfeb1ab2f39bd04d85f64b5ee9278353

pkgname = harlequin
