pkgbase = television
	pkgdesc = A general purpose fuzzy finder for your terminal
	pkgver = 0.11.4
	pkgrel = 1
	url = https://github.com/alexpasmantier/television
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = television-0.11.4.tar.gz::https://github.com/alexpasmantier/television/archive/0.11.4.tar.gz
	sha512sums = b5a16dec14c0f960317e80c0bb5482ad7a52235640a96a71e21bc6baad09c0590ca6079d5ebcce91c72b2acd9f7eec24aeb992e636b18e64f91e52a294c95787

pkgname = television
