pkgbase = television
	pkgdesc = A general purpose fuzzy finder for your terminal
	pkgver = 0.13.12
	pkgrel = 1
	url = https://github.com/alexpasmantier/television
	arch = x86_64
	license = MIT
	checkdepends = bat
	checkdepends = fd
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = television-0.13.12.tar.gz::https://github.com/alexpasmantier/television/archive/0.13.12.tar.gz
	sha512sums = 1734796855cd88e91e72e29f4eea09adfa2f540df2ceb20d57b1adaff7064cd3f64e341fd8ff6332e0c73c3e318ea96719a2d597d0d77542cf4341381cde3977

pkgname = television
