pkgbase = television
	pkgdesc = A general purpose fuzzy finder for your terminal
	pkgver = 0.11.9
	pkgrel = 1
	url = https://github.com/alexpasmantier/television
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	options = !lto
	source = television-0.11.9.tar.gz::https://github.com/alexpasmantier/television/archive/0.11.9.tar.gz
	sha512sums = 6cafc48d736a10dfe4fa311129a561ccdb8bb682ee94693405b5b27e3a0c7dc25e264792a4618f0e9c987606b5e59b7d345a9d2d73ea53550c3a4f7ca0af691c

pkgname = television
