pkgbase = python-shandy-sqlfmt
	pkgdesc = An opinionated CLI tool that formats your SQL files
	pkgver = 0.28.1
	pkgrel = 1
	url = https://pypi.org/project/shandy-sqlfmt/
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-wheel
	depends = python
	depends = python-click
	depends = python-tqdm
	depends = python-platformdirs
	depends = python-backports.cached_property
	depends = python-tomli
	depends = python-black
	depends = python-gitpython
	depends = flake8
	depends = python-isort
	depends = mypy
	options = !strip
	source = https://files.pythonhosted.org/packages/source/s/shandy-sqlfmt/shandy_sqlfmt-0.28.1.tar.gz
	b2sums = 4bcf545d83e83d0350a77551d86ad394d58e46972a4c0172fa9599bafb2e57db0316c3dfc2ca9f6932104ee064fe3059ac305c51e2c0da56f8122e460da18bfe

pkgname = python-shandy-sqlfmt
