pkgbase = python-shandy-sqlfmt
	pkgdesc = An opinionated CLI tool that formats your SQL files
	pkgver = 0.31.0
	pkgrel = 1
	url = https://pypi.org/project/shandy-sqlfmt/
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-wheel
	depends = python
	depends = python-click
	depends = python-tqdm
	depends = python-platformdirs
	depends = python-backports.cached_property
	depends = python-tomli
	depends = python-black
	depends = python-gitpython
	depends = flake8
	depends = python-isort
	depends = mypy
	options = !strip
	source = https://files.pythonhosted.org/packages/source/s/shandy-sqlfmt/shandy_sqlfmt-0.31.0.tar.gz
	b2sums = f93270cd7bf52f90cc32b10103f0dd2693b172350eac7d9ede856efd9822eb6750009089507f68fda54730b0417345d8928671e7dc29174321fcff9a16e30544

pkgname = python-shandy-sqlfmt
