pkgbase = python-shandy-sqlfmt
	pkgdesc = An opinionated CLI tool that formats your SQL files
	pkgver = 0.32.0
	pkgrel = 1
	url = https://pypi.org/project/shandy-sqlfmt/
	arch = any
	license = Apache-2.0
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-wheel
	depends = python
	depends = python-click
	depends = python-tqdm
	depends = python-platformdirs
	depends = python-backports.cached_property
	depends = python-tomli
	depends = python-black
	depends = python-gitpython
	depends = flake8
	depends = python-isort
	depends = mypy
	options = !strip
	source = https://files.pythonhosted.org/packages/source/s/shandy-sqlfmt/shandy_sqlfmt-0.32.0.tar.gz
	b2sums = 9120db43b68971bad4bbc1a6fc5760648dcf6d1190403f90e2d7302dffc90c34e5fa477309391779d7b5de47ba813f48d7cb601c54c8b7efdd7d93a6dc32862b

pkgname = python-shandy-sqlfmt
