*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.AppImage
*.log
*.log.*
*.sig
*.asc
*.deb
*LICENSE-*

# subfolders, e.g. source or built package trees, vcs
*/**/
!*/keys/
!*/keys/pgp/
!*/keys/pgp/*.asc

# backup files
*~
*.bak
