pkgbase = cherry-studio-bin
	pkgdesc = 🍒 Cherry Studio is a desktop client that supports for multiple LLM providers
	pkgver = 1.7.18
	pkgrel = 1
	url = https://github.com/cherryHQ/cherry-studio
	arch = x86_64
	license = AGPL-3.0
	depends = fuse2
	conflicts = cherry-studio
	noextract = cherry-studio-1.7.18.AppImage
	options = !strip
	options = !debug
	source = cherry-studio-1.7.18.AppImage::https://github.com/cherryHQ/cherry-studio/releases/download/v1.7.18/Cherry-Studio-1.7.18-x86_64.AppImage
	source = cherry-studio.desktop
	source = cherry-studio.png
	source = cherry-studio-bin.sh
	sha256sums = ed3e14d44dd86605aca3a17c50d48089042c1ba98007a4bbdb80b3b23eb0acd4
	sha256sums = 5f1c37293040e803757fdf028ef904bd87aae38f8e98d9e427a282a2bceff971
	sha256sums = 597463003798254ab97505e2374485e55262152483f717f3169da3444de60f94
	sha256sums = 4c02050211a4288ff23a79896c1f771a5d671b1099a36c649e20a85a3b502b8f

pkgname = cherry-studio-bin
