pkgbase = cherry-studio-bin
	pkgdesc = 🍒 Cherry Studio is a desktop client that supports for multiple LLM providers
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/cherryHQ/cherry-studio
	arch = x86_64
	license = custom
	conflicts = cherry-studio
	options = !strip
	options = !debug
	source = cherry-studio-1.7.0.AppImage::https://github.com/cherryHQ/cherry-studio/releases/download/v1.7.0/Cherry-Studio-1.7.0-x86_64.AppImage
	source = cherry-studio.desktop
	source = cherry-studio.png
	sha256sums = 0a6e0c63f795fa9d644c89be8f0f593e2d32e6fc72254d49ad1d38b9404f7f65
	sha256sums = 05ba657d8bd89353170c3e70a2729b284a8f088d676def9517543ef3c1e877da
	sha256sums = 8706b76d225c761820b18e7d79c3c8d0dd9f712b3d6a6737d90fb96e7c8fc2a4

pkgname = cherry-studio-bin
