pkgbase = auth-cli
	pkgdesc = Authenticator CLI. Generate totps on the fly.
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/nnyyxxxx/auth
	arch = x86_64
	license = BSD-3-Clause
	makedepends = make
	makedepends = cmake
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = openssl
	source = auth-cli-0.1.2.tar.gz::https://github.com/nnyyxxxx/auth/archive/v0.1.2.tar.gz
	sha256sums = e38f5463d7a71a6d258a34d067470ee49bbf3861d7f28d218c582f8b37e8020c

pkgname = auth-cli
