pkgbase = editorconfig-checker
	pkgdesc = A tool to verify that your files are in harmony with your .editorconfig
	pkgver = 3.2.0
	pkgrel = 1
	url = https://github.com/editorconfig-checker/editorconfig-checker
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	depends = glibc
	provides = ec
	options = !debug
	source = https://github.com/editorconfig-checker/editorconfig-checker/archive/refs/tags/v3.2.0/editorconfig-checker-3.2.0.tar.gz
	sha256sums = caa296ed32e34edd579ca239cdbbfd74d5e00f8736c56a1fca7d0350fe18492d

pkgname = editorconfig-checker
