pkgbase = linuxqq-nt-bwrap
	pkgdesc = New Linux QQ based on Electron, with bubblewrap sandbox and some tweaks
	pkgver = 3.2.16_250307
	pkgrel = 1
	url = https://im.qq.com/linuxqq/index.shtml
	install = linuxqq-nt-bwrap.install
	arch = x86_64
	license = custom
	makedepends = p7zip
	depends = at-spi2-core
	depends = alsa-lib
	depends = desktop-file-utils
	depends = gtk3
	depends = gtk-update-icon-cache
	depends = libnotify
	depends = nss
	depends = gnutls
	depends = bubblewrap
	depends = xdg-user-dirs
	depends = flatpak-xdg-utils
	depends = snapd-xdg-open-git
	depends = libvips
	depends = openslide
	depends = autoconf
	depends = libunwind
	depends = iproute2
	optdepends = libappindicator-gtk3: 以显示托盘图标
	optdepends = gjs: 提供 GNOME Wayland 下的截图支持
	optdepends = slirp4netns: 固定 MAC 地址时需要
	optdepends = socat: 固定 MAC 地址时需要
	provides = qq
	provides = linuxqq
	conflicts = linuxqq
	options = !emptydirs
	source = start.sh
	source = start_normal.sh
	source = start_mac_fix.sh
	source = start_inner.sh
	source = config.json
	source = resolv.conf
	source = xdg-open.sh
	sha256sums = a82d64970b59017ce4f55d523fbea78edd01fb8e69756db5f7038badfd4fb6e8
	sha256sums = dc432c885a7f35c7df95f319a32b51baccb9ba8032ed6615a76dfe26fded2b40
	sha256sums = c5379fe3b89898a34755a5a21d7392084aeaa3064e1308589d9c801e535ddae5
	sha256sums = 713c81b863c9bfa2c4f4fa6ae098a6b84ff8419916c1a99def6320bee6fe047a
	sha256sums = 53cb66acd6a01d33ecf702225ea54466e6a8c9a3c5010f6c4f44c3313f630cff
	sha256sums = cc002ee0eb2e8702c97d16f4ce628841cd5fe10195875a075432e92248741424
	sha256sums = 447dcda65d0b04edc5d639847723aa5a327d276793857cdf9296f231fada77c8
	source_x86_64 = https://dldir1.qq.com/qqfile/qq/QQNT/Linux/QQ_3.2.16_250307_amd64_01.deb
	sha256sums_x86_64 = 4f27d68557909bb8217b52e2e0fbcd899fd7d4901d69961c5affdf9c285ac015

pkgname = linuxqq-nt-bwrap
