pkgbase = greenclip
	pkgdesc = Simple clipboard manager to be integrated with rofi
	pkgver = 4.3.1
	pkgrel = 1
	url = https://github.com/erebe/greenclip
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	depends = haskell-x11
	depends = haskell-hashable
	depends = haskell-microlens
	depends = haskell-microlens-mtl
	depends = haskell-protolude
	depends = haskell-tomland
	depends = haskell-vector
	depends = haskell-wordexp
	depends = haskell-base16-bytestring
	depends = haskell-cryptohash-md5
	source = greenclip-4.3.1.tar.gz::https://hackage.haskell.org/packages/archive/greenclip/4.3.1/greenclip-4.3.1.tar.gz
	sha512sums = 92c85aafcbb91068144a6a2adaeabce4141362ab63a1cabbb50b216ca1be1ad11452d9e3dc46894ee8fb21e045eb9d1ac48f7608a71a3e131b35d29d9335899a

pkgname = greenclip
