pkgbase = auth
	pkgdesc = Authenticator TUI. Generate totps on the fly.
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/nnyyxxxx/auth
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	source = auth-0.1.4.tar.gz::https://github.com/nnyyxxxx/auth/archive/v0.1.4.tar.gz
	sha256sums = d02a61efed89561d34f5bf25caf34add8e24fdbaaeb04fb5e420e712bb9764aa

pkgname = auth
