pkgbase = auth
	pkgdesc = Authenticator TUI. Generate totps on the fly.
	pkgver = 0.2.4
	pkgrel = 1
	url = https://github.com/nnyyxxxx/auth
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	source = auth-0.2.4.tar.gz::https://github.com/nnyyxxxx/auth/archive/v0.2.4.tar.gz
	sha256sums = 80535514e0153c1cae06e3df5e82101f51fcbd352abb2f24b7fddc8163b79b0d

pkgname = auth
