pkgbase = python-textual-fastdatatable
	pkgdesc = A performance-focused reimplementation of Textual's DataTable widget, with a pluggable data storage backend
	pkgver = 0.19.1
	pkgrel = 1
	url = https://github.com/tconbeer/textual-fastdatatable
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-pandas-stubs
	depends = python-pyarrow
	depends = python-pytz
	depends = python-textual
	source = https://files.pythonhosted.org/packages/source/t/textual-fastdatatable/textual_fastdatatable-0.19.1.tar.gz
	b2sums = f10bed3e83b2b4f6c0fa2721174cd4ea4bc80aca7493a43192b5fcc89b5b02cb6b3214de8bcd484ecfff04e8fb8dd25168ae3aa439b1db78b59d9fc52b8ffedb

pkgname = python-textual-fastdatatable
