pkgbase = python-textual-fastdatatable
	pkgdesc = A performance-focused reimplementation of Textual's DataTable widget, with a pluggable data storage backend
	pkgver = 0.13.0
	pkgrel = 1
	url = https://github.com/tconbeer/textual-fastdatatable
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-pandas-stubs
	depends = python-pyarrow
	depends = python-pytz
	depends = python-textual
	source = https://files.pythonhosted.org/packages/source/t/textual-fastdatatable/textual_fastdatatable-0.13.0.tar.gz
	b2sums = c5f90a5c4787a06f3654f918a8eec87dd13f161f96df028c2f59288103cec257094e116bc6bcf16125c934b3c2b016f6f224f41959084fc8402bd19ec4be1d25

pkgname = python-textual-fastdatatable
