pkgbase = python-pandas-stubs
	pkgdesc = Type annotations for Pandas
	pkgver = 2.3.3.251219
	pkgrel = 1
	url = https://github.com/pandas-dev/pandas-stubs
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry
	source = python-pandas-stubs-2.3.3.251219.tar.gz::https://github.com/pandas-dev/pandas-stubs/archive/v2.3.3.251219.tar.gz
	sha256sums = 6e4eb008a2abf71a34c38170badeeb0e8eaa72966012239438165c7b17856b65

pkgname = python-pandas-stubs
