pkgbase = blockbench
	pkgdesc = A low-poly 3D model editor
	pkgver = 5.2.2
	pkgrel = 1
	url = https://blockbench.net
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = npm
	depends = electron
	depends = bash
	depends = glibc
	depends = imlib2
	depends = libx11
	options = !debug
	source = blockbench::git+https://github.com/JannisX11/blockbench#tag=v5.2.2
	source = blockbench.desktop
	sha256sums = 86d97e6492efceba11be4361c196382a30015dec17a79e575940f934b517cbfc
	sha256sums = 5a64727fcf696b3497190d441556322b4d0ffb70f560ba8eba6ef79ac5c36e8c

pkgname = blockbench
