pkgbase = python-jupytext
	pkgdesc = Jupyter notebooks as Markdown documents, Julia, Python or R scripts
	pkgver = 1.18.1
	pkgrel = 1
	url = https://github.com/mwouts/jupytext
	arch = any
	license = MIT
	makedepends = jupyterlab
	makedepends = npm
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-jupyter-packaging
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = jupyter-nbformat
	depends = python-markdown-it-py
	depends = python-mdit_py_plugins
	depends = python-packaging
	depends = python-toml
	depends = python-yaml
	optdepends = jupyter-nbconvert
	optdepends = jupyterlab
	optdepends = python-sphinx-gallery
	source = jupytext-1.18.1.tar.gz::https://github.com/mwouts/jupytext/archive/v1.18.1.tar.gz
	sha256sums = 541b494f9fb2b3e8e436f6fdce678a97cdac8bda0b27af958c392785e854caf3

pkgname = python-jupytext
