pkgbase = python-jupytext
	pkgdesc = Jupyter notebooks as Markdown documents, Julia, Python or R scripts
	pkgver = 1.19.0bis
	pkgrel = 1
	url = https://github.com/mwouts/jupytext
	arch = any
	license = MIT
	makedepends = jupyterlab
	makedepends = npm
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-jupyter-packaging
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = jupyter-nbformat
	depends = python-markdown-it-py
	depends = python-mdit_py_plugins
	depends = python-packaging
	depends = python-toml
	depends = python-yaml
	optdepends = jupyter-nbconvert
	optdepends = jupyterlab
	optdepends = python-sphinx-gallery
	source = jupytext-1.19.0bis.tar.gz::https://github.com/mwouts/jupytext/archive/v1.19.0bis.tar.gz
	sha256sums = f4cc9610855362a595b836a15a89179587b198ce2556c70cb75bb285d80cf4e5

pkgname = python-jupytext
