pkgbase = python-jupytext
	pkgdesc = Jupyter notebooks as Markdown documents, Julia, Python or R scripts
	pkgver = 1.16.7
	pkgrel = 1
	url = https://github.com/mwouts/jupytext
	arch = any
	license = MIT
	makedepends = jupyterlab
	makedepends = npm
	makedepends = python-build
	makedepends = python-hatch-jupyter-builder
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-jupyter-packaging
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = jupyter-nbformat
	depends = python-markdown-it-py
	depends = python-mdit_py_plugins
	depends = python-packaging
	depends = python-toml
	depends = python-yaml
	optdepends = jupyter-nbconvert
	optdepends = jupyterlab
	optdepends = python-sphinx-gallery
	source = jupytext-1.16.7.tar.gz::https://github.com/mwouts/jupytext/archive/v1.16.7.tar.gz
	sha256sums = 9b71fd6ac4f4aeeada411d00e4e309bdaf1f2ff9d42790cfdb522f08eba2b8fd

pkgname = python-jupytext
