pkgbase = haskell-semigroups
	pkgdesc = Anything that associates
	pkgver = 0.20.1
	pkgrel = 1
	url = http://github.com/ekmett/semigroups/
	arch = x86_64
	license = BSD
	makedepends = ghc
	depends = ghc-libs
	source = https://hackage.haskell.org/packages/archive/semigroups/0.20.1/semigroups-0.20.1.tar.gz
	sha256sums = bf4c71224397c3777e6a79145f5c9c31d5a13f27548345e55138461d87348ffe

pkgname = haskell-semigroups
