pkgbase = python-rich-click
	pkgdesc = Python module to format click help output nicely with Rich.
	pkgver = 1.9.1
	pkgrel = 1
	url = https://github.com/ewels/rich-click
	arch = any
	license = MIT
	checkdepends = python-inline-snapshot
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-typer
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-click
	depends = python-rich
	depends = python-typing_extensions
	source = python-rich-click-1.9.1.tar.gz::https://github.com/ewels/rich-click/archive/v1.9.1.tar.gz
	sha256sums = df46a58d2975ef281ba2533832aece98cafc849a48b052e9434f6a5d9e4ee5be

pkgname = python-rich-click
