pkgbase = lazydocker
	pkgdesc = A simple terminal UI for docker and docker-compose, written in Go with the gocui library.
	pkgver = 0.25.2
	pkgrel = 1
	url = https://github.com/jesseduffield/lazydocker
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	source = lazydocker-0.25.2.tar.gz::https://github.com/jesseduffield/lazydocker/archive/v0.25.2.tar.gz
	b2sums = 4b1a9cca5b1bf188b67055af86976cd73cd005d850114f9679eec221157d53eb41ae3ff4a03ae49e3f05eb321b18911287f9c92e67f3d9268a2d7f9e2f1ec8d2

pkgname = lazydocker
