pkgbase = lazydocker
	pkgdesc = A simple terminal UI for docker and docker-compose, written in Go with the gocui library.
	pkgver = 0.24.4
	pkgrel = 1
	url = https://github.com/jesseduffield/lazydocker
	arch = x86_64
	license = MIT
	makedepends = go
	makedepends = git
	source = lazydocker-0.24.4.tar.gz::https://github.com/jesseduffield/lazydocker/archive/v0.24.4.tar.gz
	b2sums = 3ed6b09a4245d7975b8d20d9db7f86eefdd703bda0f77879d1ff3565ec791f96f015df532624b1cb5768041dad07f0ebfe33b4fed2fa9699862098dccfc6300e

pkgname = lazydocker
