pkgbase = pacfiles
	pkgdesc = A pacman -F alternative that runs blazingly fast
	pkgver = 0.2.6
	pkgrel = 1
	url = https://github.com/lilydjwg/pacfiles
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cargo
	depends = libarchive
	depends = gcc-libs
	depends = plocate
	depends = pacman
	source = pacfiles-0.2.6.tar.gz::https://github.com/lilydjwg/pacfiles/archive/refs/tags/v0.2.6.tar.gz
	sha256sums = 80428b05c65cab13af4c12337b388e89515c34782fe2d864077ab3e6434fe62d

pkgname = pacfiles
