pkgbase = navicat17-premium-cs
	pkgdesc = Navicat Premium is a multi-connection database development tool. (Chinese Simplified)
	pkgver = 17.2.5
	pkgrel = 1
	url = https://www.navicat.com.cn/navicat-17-highlights
	arch = x86_64
	license = NOASSERTION
	source_x86_64 = navicat17-premium-cs-x86_64-17.2.5.AppImage::https://dn.navicat.com/download/navicat17-premium-cs-x86_64.AppImage
	sha256sums_x86_64 = ef81d8f19afb2e80e5d2c9d58c2039f370d877108ec1122c7f5ab53fa29009a4

pkgname = navicat17-premium-cs
