pkgbase = duckdb
	pkgdesc = An in-process SQL OLAP database management system
	pkgver = 1.4.3
	pkgrel = 2
	url = https://duckdb.org
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cmake
	makedepends = uv
	makedepends = pybind11
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-scikit-build-core
	depends = gcc-libs
	depends = openssl
	conflicts = duckdb-bin
	conflicts = duckdb-git
	source = git+https://github.com/duckdb/duckdb.git#tag=v1.4.3
	source = python-duckdb::git+https://github.com/duckdb/duckdb-python.git#tag=v1.4.3
	b2sums = 5e07b30dd57240e521ff849eb03adf655a3791beba77ea3eefba010cdf95b227ac79f05895920bf7146b2f8d52a62ea7966e7af3d1dc8c6319d5c025f80158dd
	b2sums = bb075924166283fd591c7df089e288014986804527e1ecedd712baf7384df41640905e6d8f146ec443c4382cd32bdf13503326005835b1469b8e66f23fe5f168

pkgname = duckdb

pkgname = python-duckdb
	pkgdesc = An in-process SQL OLAP database management system (Python API)
	depends = python
	depends = gcc-libs
	optdepends = ipython: used in duckdb.query_graph
	optdepends = python-fsspec: used in duckdb.filesystem
	optdepends = python-numpy: used in duckdb.experimental.spark and in duckdb.fetchnumpy()
	optdepends = python-pandas: used for pandas dataframes all over the place
	optdepends = python-pyarrow: used for pyarrow support
	optdepends = python-arrow-adbc: for the adbc driver
	conflicts = python-duckdb-git
