pkgbase = editorconfig-checker-git
	pkgdesc = A tool to verify that your files are in harmony with your .editorconfig
	pkgver = next
	pkgrel = 1
	url = https://github.com/editorconfig-checker/editorconfig-checker
	arch = x86_64
	groups = xsy420-repo
	license = MIT
	makedepends = go
	makedepends = git
	depends = glibc
	provides = ec
	conflicts = editorconfig-checker
	options = !debug
	source = git+https://github.com/editorconfig-checker/editorconfig-checker.git#commit=349a4fc18f8511386df9a526221b802964deb41c
	sha256sums = b829b723caacbfbb3e7f212f94f2be5cf9916d82e2814a4a34c838d697d13716

pkgname = editorconfig-checker-git
