pkgbase = editorconfig-checker-git
	pkgdesc = A tool to verify that your files are in harmony with your .editorconfig
	pkgver = next
	pkgrel = 1
	url = https://github.com/editorconfig-checker/editorconfig-checker
	arch = x86_64
	groups = xsy420-repo
	license = MIT
	makedepends = go
	makedepends = git
	depends = glibc
	provides = ec
	conflicts = editorconfig-checker
	options = !debug
	source = git+https://github.com/editorconfig-checker/editorconfig-checker.git#commit=ae781440456b1a164cb064bd5b4358d75a2344e6
	sha256sums = 155e5f2ad148c2cca347e68c323ee9984f4761e2b1fa391a5b13d9118e65b629

pkgname = editorconfig-checker-git
