pkgbase = python-aenum
	pkgdesc = Advanced Enumerations (compatible with Python's stdlib Enum)
	pkgver = 3.1.16
	pkgrel = 1
	url = https://github.com/ethanfurman/aenum
	arch = any
	license = BSD-3-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = python-aenum-3.1.16.tar.gz::https://github.com/ethanfurman/aenum/archive/3.1.16.tar.gz
	source = fix-tests-for-python12.patch::https://patch-diff.githubusercontent.com/raw/ethanfurman/aenum/pull/36.patch
	source = https://raw.githubusercontent.com/ethanfurman/aenum/master/aenum/test_v37.py
	sha256sums = 4c7a5fb76a04ad8dc0c82b13c4cd858b755c69d16c2060a248bf3380a4d1067e
	sha256sums = d5522b85199d271f47f5b1e48ae97bac1b9a309b833acd5d6f467d94484b89c0
	sha256sums = e852ca671727e491dfa95af27fa2385a36056a306419efe3420cd34c03c9214e

pkgname = python-aenum
