pkgbase = google-chrome
	pkgdesc = The popular web browser by Google (Stable Channel)
	pkgver = 133.0.6943.141
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome.install
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: for file dialogs in KDE
	optdepends = gnome-keyring: for storing passwords in GNOME keyring
	optdepends = kwallet: for storing passwords in KWallet
	options = !emptydirs
	options = !strip
	source = https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_133.0.6943.141-1_amd64.deb
	source = eula_text.html
	source = google-chrome-stable.sh
	sha512sums = 84aad5d0f5ebd717ed8baf781e19be3c956503c0c13c4ed7b9e6e86194b2d682b8de8a1dbdb62c09b59d22b626655242046167f51a73dd40ac771e2db3aa26c7
	sha512sums = fb767b0ce30c50f803d54281d61d125ef2d71ba9a1434f89ff5deded09771bb50fd5f005af64ecb619fe5bbb29cfc7691c5046786b3d712ae85ad9a85061f0fb
	sha512sums = 7a8ee6af46becfeeec013b2b35eb1dc5714c04a97d8a6a4d56e4de66c58ba71ba2673331da530a93110d96bb91434f6c634e76ed7785d275664453bbcd673919

pkgname = google-chrome
