pkgbase = google-chrome
	pkgdesc = The popular web browser by Google (Stable Channel)
	pkgver = 143.0.7499.40
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome.install
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: for file dialogs in KDE
	optdepends = gnome-keyring: for storing passwords in GNOME keyring
	optdepends = kwallet: for storing passwords in KWallet
	options = !emptydirs
	options = !strip
	source = https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_143.0.7499.40-1_amd64.deb
	source = eula_text.html
	source = google-chrome-stable.sh
	sha512sums = 874a58d1751eac8216459dc233148c9729788457e627333b96644c16c17018ea6399b51ee93d709e4e6e670b4e71e2fa9a3ed781143c69207dbec681efd903e2
	sha512sums = fb767b0ce30c50f803d54281d61d125ef2d71ba9a1434f89ff5deded09771bb50fd5f005af64ecb619fe5bbb29cfc7691c5046786b3d712ae85ad9a85061f0fb
	sha512sums = 7a8ee6af46becfeeec013b2b35eb1dc5714c04a97d8a6a4d56e4de66c58ba71ba2673331da530a93110d96bb91434f6c634e76ed7785d275664453bbcd673919

pkgname = google-chrome
