pkgbase = xwin
	pkgdesc = Allows downloading and repacking the MSVC CRT and Windows SDK for cross compilation
	pkgver = 0.9.0
	pkgrel = 1
	url = https://crates.io/crates/xwin
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = cargo
	makedepends = clang
	makedepends = lld
	depends = glibc
	source = xwin-0.9.0.tar.gz::https://static.crates.io/crates/xwin/xwin-0.9.0.crate
	sha256sums = c337699251ad0c38cf87ee63944de38c2201d017cfbb768e5a3897ae835aacc7

pkgname = xwin
