pkgbase = xwin
	pkgdesc = Allows downloading and repacking the MSVC CRT and Windows SDK for cross compilation
	pkgver = 0.8.0
	pkgrel = 1
	url = https://crates.io/crates/xwin
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = cargo
	makedepends = clang
	makedepends = lld
	depends = glibc
	source = xwin-0.8.0.tar.gz::https://static.crates.io/crates/xwin/xwin-0.8.0.crate
	sha256sums = 900099a3690d2737113296fd1d84f25ec9b21c921653e1738a807224aa47a3bd

pkgname = xwin
