pkgbase = xwin
	pkgdesc = Allows downloading and repacking the MSVC CRT and Windows SDK for cross compilation
	pkgver = 0.10.0
	pkgrel = 1
	url = https://crates.io/crates/xwin
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = cargo
	makedepends = clang
	makedepends = lld
	depends = glibc
	source = xwin-0.10.0.tar.gz::https://static.crates.io/crates/xwin/xwin-0.10.0.crate
	sha256sums = e3ae2ef8d627ac8d97b3aeb67e4b711520154edca5cc80fbec551415c7b671ef

pkgname = xwin
