pkgbase = harlequin-mysql
	pkgdesc = The SQL IDE for Your Terminal
	pkgver = 1.3.1
	pkgrel = 1
	url = https://github.com/tconbeer/harlequin-mysql
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-wheel
	depends = harlequin
	depends = python-mysql-connector
	options = !strip
	source = harlequin-mysql-1.3.1.tar.gz::https://github.com/tconbeer/harlequin-mysql/archive/v1.3.1.tar.gz
	b2sums = af48708fde4d991c5a0f7d77fc1a82f387e2274f5fedfa6704e5b44761fa652f5941aa179fb6f3566f957ba6df11745c715520f945eac9cc937ffaa33ca3bcf2

pkgname = harlequin-mysql
