pkgbase = td-tui
	pkgdesc = Simple task management TUI tool
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/voioo/td
	arch = x86_64
	license = 0BSD
	provides = td
	conflicts = td
	source_x86_64 = https://github.com/voioo/td/releases/download/v0.3.2/td_linux_amd64.tar.gz
	sha256sums_x86_64 = ce70d9782bdff5aed793d6fda4c09758c6b0c9f09ce927acaa3b25efee45f3a9

pkgname = td-tui
