pkgbase = td-tui
	pkgdesc = Simple task management TUI tool
	pkgver = 0.4.2
	pkgrel = 1
	url = https://github.com/voioo/td
	arch = x86_64
	license = 0BSD
	provides = td
	conflicts = td
	source_x86_64 = https://github.com/voioo/td/releases/download/v0.4.2/td_linux_amd64.tar.gz
	sha256sums_x86_64 = ad6052c701fa4249d4d7378712858e23a294f50e3f5b77e782158c037a4b481d

pkgname = td-tui
