pkgbase = python-textual-textarea
	pkgdesc = A text area (multi-line input) with syntax highlighting for Textual
	pkgver = 0.18.0
	pkgrel = 1
	url = https://pypi.org/project/textual-textarea/
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-wheel
	depends = python
	depends = python-textual
	depends = python-pyperclip
	options = !strip
	source = https://files.pythonhosted.org/packages/source/t/textual-textarea/textual_textarea-0.18.0.tar.gz
	b2sums = 2971daa181fbb6d4004280664beabce8cef26c803b93e5a2ec4bb328a5b42cd7fc63a38ff6a6adaa4627313170b43a851bf3dcbd9fb2ffc2ca8d7546a3b3732a

pkgname = python-textual-textarea
