pkgbase = python-textual-textarea
	pkgdesc = A text area (multi-line input) with syntax highlighting for Textual
	pkgver = 0.17.1
	pkgrel = 1
	url = https://pypi.org/project/textual-textarea/
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-wheel
	depends = python
	depends = python-textual
	depends = python-pyperclip
	options = !strip
	source = https://files.pythonhosted.org/packages/source/t/textual-textarea/textual_textarea-0.17.1.tar.gz
	b2sums = 9c6cd19bc336547247700405c7ba86f52bfee3684774b72d8aacd07f3b1f1b95cb6f221d5bfaf36d82345908abf193bef547251436c2fc8bf32da59035c61524

pkgname = python-textual-textarea
