pkgbase = python-textual-textarea
	pkgdesc = A text area (multi-line input) with syntax highlighting for Textual
	pkgver = 0.17.3
	pkgrel = 1
	url = https://pypi.org/project/textual-textarea/
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = python-installer
	makedepends = python-poetry
	makedepends = python-wheel
	depends = python
	depends = python-textual
	depends = python-pyperclip
	options = !strip
	source = https://files.pythonhosted.org/packages/source/t/textual-textarea/textual_textarea-0.17.3.tar.gz
	b2sums = 46425093dc92c5453109f6c4e22fe6f43797e7e493260645245b7ea854d84ee4e962bda9efae9702d2169750b37d1000ca6479da70bdf3c9fbbf5f599ca85bdc

pkgname = python-textual-textarea
